@import "tailwindcss";

@theme {
  --font-preahvihear: var(--font-preahvihear);
  --font-poorStory: var(--font-poor-story);
  --font-poetsenOne: var(--font-poetsenone);
  --font-plusJakartaSans: var(--font-plus-jakarta-sans);
  --font-poppins: var(--font-poppins);
}

:root {
  --background: #000000;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #030014;
}

::-webkit-scrollbar-thumb {
  background: rgba(168, 85, 247, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(168, 85, 247, 0.4);
}

.glow-purple {
  text-shadow: 0 0 10px rgba(168, 85, 247, 0.5);
}

.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-active header,
.modal-active footer {
  display: none !important;
}
